.form-container {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: linear-gradient(to bottom right, #b5a3ff, #300796);
    padding: 20px;
  }

  .form-card {
    background-color: white;
    padding: 10px;
    border-radius: 30px;
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.1);
    width: 80%;
    max-width: 350px;
  }

  .form-title {
    text-align: center;
    font-size: 20px;
    font-weight: 600;
    margin-bottom: 30px;
    margin-top: -10px;
    color: #333;
  }
 
.logo {
    width: 40px;  
    height: 40px;  
    margin-left: 4px;  
    margin-top: 4px;  
  }
  
  .form-fields {
    display: flex;
    flex-direction: column;
    gap: 20px;
  }

  .form-field {
    display: flex;
    flex-direction: column;
  }
  
  .form-label {
    font-size: 13px;
    font-weight: 600;
    color: #4b4b4b;
    margin-bottom: 5px;
    margin-left: 80px;
  }
  
  .form-input {
    padding: 10px;
    border: 1px solid #280380;
    border-radius: 8px;
    margin-left: 80px;
    font-size: 10px;
    width: 50%;
    outline: none;
  }
  
  .form-input:focus {
    border-color: #714cf5;
    box-shadow: 0 0 5px rgba(101, 76, 245, 0.5);
  }

  .error-input {
    border-color: #f87171;
  }
  
  .error-message {
    font-size: 0.8rem;
    color: #f87171;
    margin-top: 5px;
  }
  
  .submit-button {
    padding: 10px;
    font-size: 14px;
    background: linear-gradient(to right, #3d1eaf, #6645f6);
    color: white;
    border: none;
    border-radius: 8px;
    width: 50%;
    margin-left: 90px;
    cursor: pointer;
    transition: background 0.3s ease;
  }
  
  .submit-button:hover {
    background: linear-gradient(to left, #491eaf, #6d3bf6);
  }
  
  .submit-button:focus {
    outline: none;
  }
  